#header.sticky-header #header-wrap {
	background: #1C1C1C;
}
		#header.dark.sticky-header.transparent-header #header-wrap:not (.not-dark) {
			background: #1C1C1C;
		}
		#header.sticky-header:not(.static-sticky){
			background: #1C1C1C;
		}
#content p {
    line-height: 2em;

}

.heading-block h1{
  
    color: #eee;
}

.heading-block.center > span, .heading-block.title-center > span, .center .heading-block > span {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.section-padding {
    padding-block-start: 10em;
}

.site-wrapper {
    width: 70%;
    margin: auto;
}

#primary-menu ul li.current > a, #primary-menu ul li > a{
	color : #eee;
}
#top-bar {
	
	border-bottom-color: transparent;    
}
nav ul li:last-child{
    display: none;
}
#top-social li a{
	color : #eee;
}
body.stretched #header.full-header .container{
	width:80%;
}
#top-social li {
    border-left: 1px solid transparent !important;
}



/*WELCOME*/

#header .container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.welcome-header {
    background: #121212 !important;
    background: -webkit-linear-gradient(to bottom, #121212, #232526) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #121212, #232526) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ECECEC;
   
   
}

.welcome-header div {
    text-align: center;
    display: grid;
    grid-row-gap: 9em;
    justify-items: center;
}

.light {
    color: #ECECEC;
}

.welcome-header h1 {
    font-size: 3.5em;
}

.welcome-header p {
    padding: 0 10%;
    font-size: 1.1em;
   
}

/*Custom Design*/

.custom-design {
  background: #232526 !important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom,  #232526,#414345) !important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #232526,#414345) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 padding-botto.:5em;
  color: #ECECEC;
}

.custom-design .site-wrapper>div {
    text-align: center;
    display: grid;
    grid-row-gap: 5em;
    justify-items: center;
}

.custom-design p {
    padding: 0 10%;
    font-size: 1.4em;
    
}

.custom-design h2 {
    margin-block-end: 3em;
    font-size: 2.9em;
}


/*Service*/

.services h2 {
    margin-block-end: 3em;
    font-size: 2.9em;
}



/**/

#contact-form-overlay-mini {
    float: right;
    width: 50%;
    margin: 0;
}

	

/*Serivces*/
.services-img-col{
	padding:0;
}
#services h3{
	margin-bottom:0;
}

#services .service-description{
	margin-bottom: 30px;display:block
}

.services {
	padding-bottom:10em;
}

.services .service-row{
	display:grid;
	grid-template-columns:1fr 1fr;
	align-items:center;
	justify-content: center;
}


/*SLIDER*/

		
		.revo-slider-emphasis-text {
			font-size: 64px;
			font-weight: 700;
			letter-spacing: -1px;
			font-family: 'Raleway', sans-serif;
			padding: 15px 20px;
			border-top: 2px solid #FFF;
			border-bottom: 2px solid #FFF;
		}

		.revo-slider-desc-text {
			font-size: 20px;
			font-family: 'Lato', sans-serif;
			width: 650px;
			text-align: center;
			line-height: 1.5;
		}

		.revo-slider-caps-text {
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 3px;
			font-family: 'Raleway', sans-serif;
		}
		.tp-video-play-button { display: none !important; }

		.tp-caption { white-space: nowrap; }


@media (max-width: 991.98px){
#header.transparent-header, #header.semi-transparent {
   	background: #1C1C1C;
   }
}

@media (max-width: 991.98px) {
    #header.dark.transparent-header, #header.dark.semi-transparent {
        background-color: #121212;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    #contact-form-overlay-mini {
        float: right;
        width: 100%;
        margin: 0;
    }
    .site-wrapper {
        width: 80%;
        margin: auto;
    }
    nav ul li:last-child{
        display: block;
    }
}



@media(max-width:490px){
	.services .service-row{
		display:grid;
		grid-template-columns:1fr ;
		align-items:center;
		justify-content: center;
		margin-bottom:5em;
	}

	.services .service-row .service-text{
		order:1;
		
	}
	
	.services .service-row .service-img{
		order:2;
		
	}
	
	.welcome-header p {
    padding: 0;
    font-size: 1.2em;
   
}

.custom-design p {
    padding: 0;
    font-size: 1.2em;
   
}

p{
	text-align:justify;
}
	
}